<div class="answered-topic">
<div class="topic-card_header">
<h3 class="ops-topic-subject">Assunto da pergunta aparece aqui</h3>
<span class="question-author">Carlos Henrique Santos</span>
</div>

<div class="topic-card_body">
<p class="question-text">Comecinho da pergunta aparece aqui recente relato inscreve-se no campo da análise da dimensão e impacto formativo situado impacto de processo formativo processo...</p>
</div>

<div class="topic-card_footer">
  <a href="#"><img src="/assets/ellipsis-vertical-solid.svg" alt="" class="three-ellipsis"></a>
  <button class="favorite-button"><img src="/assets/heart-solid-white.svg" alt="heart-icon"></button>
  <a class="likes">1 like</a>
  <a href="#" class="answers" (click)="toggleAnsweredTopics()">1 resposta</a>
</div>
</div>
<div class="comments-container">
<app-answered-topic *ngIf="showAnsweredTopics"></app-answered-topic>
</div>

