<div class="topic_form" *ngIf="!hideTopicForm">

  <div class="form_header">
    <p>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>
  </div>

  <div class="form_body">
    <span action="" class="subject_title">Assunto</span>
    <input type="text" class="subject" [(ngModel)]="subject" placeholder="Defina um tópico sucinto para notificar os autores...">

    <span action="" class="content_title">Conteúdo</span>
    <textarea name="" id="content-input_text" [(ngModel)]="content" cols="30" rows="10"></textarea>
  </div>

  <div class="form_footer">
    <button class="btn-send" (click)="onSend()">Enviar</button>
  </div>
</div>


<app-topic-sent *ngIf="isSent"></app-topic-sent>
<hr *ngIf="!hideTopicForm">
