.section{
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

.section .sidebar_top_container{
  font-family: Roboto;
  height: 4.978vw;
  width: 16.105vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  background-image: linear-gradient(#FFB354, #EE7A3A);
}

.sidebar_top_container .event_title{
  font-size: 2.196vw;
  line-height: 2.574vw;
  font-weight: 700;
}