<section class="section">
<div class="sidebar_top_container">
  <h1 class="event_title">SLACA 2019</h1>
</div>

<div class="sidebar_logo_container">
  <img [src]="eventLogoPath" class="event_logo">
</div>

<div class="sidebar_items_container">
  <app-menu-item itemText="Apresentação"></app-menu-item>
  <app-menu-item itemText="Comitês"></app-menu-item>
  <app-menu-item itemText="Autores"></app-menu-item>
  <app-menu-item itemText="Eixos temáticos"></app-menu-item>
  <app-menu-item itemText="Trabalhos"></app-menu-item>
  <app-menu-item itemText="Contato"></app-menu-item>
</div>
</section>
