<section class="section">
<div class="sidebar_top_container">
  <h1 class="event_title">SLACA 2019</h1>
</div>

<div class="sidebar_logo_container">
  <img [src]="eventLogoPath" class="event_logo">
</div>

<div id="sidebar_items_container">
  <app-menu-item itemText="Apresentação" class="option"></app-menu-item>
  <app-menu-item itemText="Comitês" class="option"></app-menu-item>
  <app-menu-item itemText="Autores" class="option"></app-menu-item>
  <app-menu-item itemText="Eixos temáticos" class="option"></app-menu-item>
  <app-menu-item itemText="Trabalhos" class="option active"></app-menu-item>
  <app-menu-item itemText="Contato" class="option"></app-menu-item>
</div>
</section>
