

.container {
  height: 100vh;

  display: grid;
  grid-template-columns: 16.105vw 1fr;
  grid-template-rows: 4.978vw 1fr;
  overflow-x: hidden;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.sidebar {


  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  grid-auto-rows: minmax(min-content, 1fr);
}

.main {

  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 20px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 20px;
}
