@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 100%;

}

.main h2{
  width: 57.54vw;
  height: 3.953vw;
  font-family: Roboto;
  font-weight: 900;
  letter-spacing: 1px;
  color: #ED7839;
  font-size: 1.464vw;
}

.top-side_container{
  display: grid;
  grid-template-columns: auto auto ;
  align-items: center;
  gap: 0.732vw;
}



.top-side_container .buttons_container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-right_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-right_container .citacao {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.025vw;
  color: #ED7839;
  letter-spacing: 1px;
}

.buttons_container .favorite-button{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  width: 3.148vw;
  height: 2.269vw;
  margin: 0.366vw;
  border-radius: 4px;
  background-color: #ED7839;
}

.favorite-button .star-solid {
  color: white;
  height: 1.391vw;
  width: 1.391vw;
}

.buttons_container .doi-button{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 3.148vw;
  height: 2.269vw;
  margin: 0.366vw;
  border-radius: 4px;
  background-color: #ED7839;
}

.doi-button .doi-solid {
  height: 1.391vw;
  width: 1.391vw;
}

.buttons_container .download-button{
  cursor: pointer;
  font-family: Roboto;
  background-color: #ED7839;
  color: white;
  border-radius: 4px;
  font-weight: 500;
  width: 8.785vw;
  height: 2.269vw;
  margin: 5px;
}


.video_overlay{
position: relative;
background-color: #8D350680;
background-size: cover;
background-position: center;
width: 57.321vw;
height: 32.138vw;
margin-top: 0.732vw;
margin-right: 13px;
border-radius: 3px;
}

.video_overlay .background_video{
  mix-blend-mode:overlay;
  width: 57.321vw;
  height: 32.138vw;
  border-radius: 3px;
}

.video_overlay .video_top-text{
  width: 53.734vw;
  height: 3.953vw;
  font-family: Roboto;
  font-size: 1.757vw;
  position: absolute;
  top: 5%;
  left: 5%;
  color: #FFFFFF;
}

.video_bottom_container {
  display: flex;
  flex-direction: row;
}

.video_overlay .video_bottom_container{
  font-family: Roboto;
  position: absolute;
  bottom: 20%;
  left: 5%;
}

.video_bottom_container .photo_outline{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 6.149vw;
  height: 6.296vw;
  border: 1px solid #ED7839;
  border-radius: 50%;

}

  .photo_outline img{
    position: relative;
    top: 12%;
    left: -7%;
    width: 9.517vw;
    height: 8.053vw;

  }

  .video_bottom_container .bottom_container_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    margin-left: 1.464vw;
  }

  .bottom_container_text h1{
    font-size: 2.489vw;
  }

  .bottom_container_text h3 {
    font-size: 1.464vw;
  }


  .mid-top_container{
    display: flex;
    flex-direction: row;
    width: 77.526vw;
    justify-content: center;
  }

  .mid-top_container .info-trabalho_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 17.716vw;
    height: 32.138vw;
    border: 1px solid #ECECEC;
    margin-left: 1.171vw;
    margin-top: 0.732vw;
    border-radius: 5px;
  }

  .info-trabalho_container .info-header{
    background-color: #FDF1EB;
    width: 17.716vw;
    height: 3.294vw;

    border-bottom: 1px solid #ECECEC;;
  }

  .info-header h3 {
    font-family: Roboto;
    color: #4E4E4E;
    font-size: 1.464vw;
    margin-top: 0.732vw;
    margin-left: 1.464vw;
    width: 15.52vw;
  }

  .info-content {
    font-family: Quicksand;
    display: flex;
    flex-direction: column;
    height: 26.647vw;
    width: 15.52vw;
    margin-top: 0.732vw;
  }

.top-info p{
  color: #5c5c5c;
  font-weight: 400;
  font-size: 0.878vw;

}

.top-info span{
  font-weight: 700;
  font-size: 0.878vw;
}

.mid-info{
  margin-top: 1.464vw;
  color: #5c5c5c;
}

.mid-info .mid_title{
  font-weight: 700;
  font-size: 1.025vw;
  color: #5c5c5c;;
}

.mid-info .superscript{
  color: #4E4E4E;
  font-size: 0.878vw;
  font-weight: 400;
}

.mid-info p {
  color: #4E4E4E;
  font-size: 1.025vw;
}

.mid-info .superscript {
  font-size: 0.878vw;
}

.bottom-info{
margin-top: 5.124vw;

}

.bottom-info p{
  font-size: 0.878vw;
  color: #ada0a0;
}

.summary_section{
display: flex;
flex-direction: column;
margin-top: 20px;
border: 1px solid #ECECEC;
width: 100%;
min-height: 13.836vw;
border-radius: 3px 3px 0px 0px;
}

.summary_section .summary_section-header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ECECEC;
  width: 100%;
  height: 3.294vw;
  background-color: #FDF1EB;
}

.summary_section-header .summary_header_text {
  font-family: Roboto;
  font-size: 1.464vw;
  color: #4E4E4E;
  margin-left: 1.098vw;
}

.summary_section .summary_content {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1.464vw;
  height: auto;
}

.summary_content p {
font-family: Quicksand;
font-size: 1.025vw;
line-height: 1.665vw;
font-weight: 400;
}


.summary_content .btn-show-more {
  font-family: Quicksand;
  font-weight: 700;
  font-size: 1.025vw;
  line-height: 1.561vw;
  text-decoration: none;
  color: #ED7839;
}

.dicussions_section {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid #ECECEC;
  align-items: center;
  border-radius: 3px;
  margin-top: 20px;
}

.dicussions_section .discussions_header {
  display: flex;
  align-items: center;
  background-color: #FDF1EB;
  height: 3.294vw;
  width: 100%;
}

.discussions_header h3 {
  font-family: Roboto;
  color: #4E4E4E;
  margin-left: 1.098vw;
  font-size: 1.464vw
}

.dicussions_section .discussions_content_container {
display: flex;
flex-direction: column;
align-items: center;
width: 100%;

}

.discussions_content_container .discussions_content_title {
  font-family: Roboto;
  color: #ED7839;
  font-size: 1.318vw;
  margin-top: 20px;
}

.discussions_content_container .discussions_content_text {
  font-family: Quicksand;
  text-align: center;
  width: 45.827vw;
  font-weight: 400;
  font-size: 1.025vw;
  color: #595959;
}

.discussions_content_container .discussions_images {
  display: flex;
  flex-direction: row;

}

.discussions_images img {
  height: 3.583vw;
  width: 3.679vw;
  margin: 2.196vw;
}

.topic_button_container{
  margin-top: 20px;
  position: relative;
  display: inline-block;
  top: 6.5%;
  border-radius: 1px;
}


.btn-create-topic {
  font-family: Quicksand;
  font-size: 1.098vw;
  font-weight: 700;
  color: #FFFFFF;
  text-align: center;
  background-image: linear-gradient(#FEB254, #F0813D);
  margin-bottom: 0;
  border-radius: 5px;
  width: 9.736vw;
  height: 2.343vw;
  cursor: pointer;
  box-shadow: 1px 5px 11px -6px rgba(0,0,0,0.48);
-webkit-box-shadow: 1px 5px 11px -6px rgba(0,0,0,0.48);
-moz-box-shadow: 1px 5px 11px -6px rgba(0,0,0,0.48);
}

.btn-create-topic span {
  width: 1.245vw;
  height: 1.245vw;
}

.discussions_content_container .topic_separation {
  border: 1px solid #E7E7E7;
  clear: both;
  display: block;
  width: 97%;
  margin-top: 0;
  margin-bottom: 30px;
}

.page_division{
  border: 1px solid #E7E7E7;
  clear: both;
  display: block;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

footer img {
  width: 76.867vw;

}



