<main class="main">
  <div class="top-side_container">
    <h2 class="Título do trabalho">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
    <div class="top-right_container">
      <div class="buttons_container">
        <button class="download-button">Download</button>
        <button class="favorite-button"><img src="/assets/star-solid-white.svg" alt="" class="star-solid"></button>
        <button class="doi-button"><img src="/assets/doi.png" alt="" class="doi-solid"></button>
      </div>
    <h3 class="citacao">COMO CITAR ESSE TRABALHO?</h3>
    </div>
  </div>

  <div class="mid-top_container">
  <div class="video_overlay">
    <img [src]="videoPath" alt="video" class="background_video">
    <h1 class="video_top-text">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h1>
      <div class="video_bottom_container">
        <div class="photo_outline">
        <img [src]="videoImagePath" alt="video-front-image">
      </div>

    <div class="bottom_container_text">
      <h1>Beatriz Christiane Melo</h1>
      <h3>FCA / Universidade Estadual de Campinas</h3>
    </div>
  </div>
  </div>

  <div class="info-trabalho_container">
    <div class="info-header">
      <h3>Detalhes</h3>
    </div>

    <div class="info-content">
        <div class="top-info">
        <p>Tipo de Apresentação: <span class="topic_detail">Pôster</span></p>
        <p>Eixo temático: <span class="topic_detail">Alimentação e saúde (AS)</span></p>
        <p>palavras-chaves: <span class="topic_detail">Alimentos funcionais, alimentação escolar</span></p>
        </div>

        <div class="mid-info">
        <span class="mid_title">Autores: </span>

        <p>Galileo Galilei<span class="superscript">¹</span></p>
        <p>Berta Lange de Morretes<span class="superscript">²</span></p>
        <p>Isaac Newton<span class="superscript">³</span></p>
        <p>Stephen Hawking<span class="superscript">⁴</span></p>
      </div>
        <div class="bottom-info">
          <p>¹Universidade Estadual de Campinas</p>
          <p>²Universidade de São Paulo</p>
          <p>³Instituto Nacional de Pesquisas Espaciais</p>
          <p>⁴Universidade Federal do Rio de Janeiro</p>
        </div>
    </div>
  </div>
</div>

  <div class="summary_section">
    <div class="summary_section-header">
      <h3 class="summary_header_text">Resumo</h3>
    </div>

    <div class="summary_content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tincidunt luctus diam nec venenatis. Cras tincidunt eu orci ut mollis. Nullam sit amet velit dictum, rhoncus ipsum eget, placerat ante. Fusce eu odio at ipsum congue dignissim eu id velit. Nulla tortor dui, eleifend vitae gravida in, viverra at erat. Integer vel ante ipsum. Cras lobortis fermentum justo a sodales. Sed iaculis cursus enim quis varius. Sed aliquet nibh nec purus pellentesque hendrerit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut mattis nisi purus, quis egestas leo scelerisque nec. Cras a tristique turpis. Pellentesque mollis urna eros, non semper odio mattis vitae.
        Donec interdum libero vel ligula laoreet pretium. Quisque sagittis ante in fringilla sodales<span id="points" *ngIf="hideText">...</span> <a href="#" class="btn-show-more" (click)="toggleShowMoreText()" *ngIf="hideText">ver mais</a> <span *ngIf="showMoreText" id="more"> Pellentesque dolor lectus, feugiat et justo et, molestie semper tellus. Integer vel pellentesque purus. <br><br> Mauris eget augue vel tortor ultrices commodo. Maecenas maximus urna feugiat justo pretium, sed convallis mi aliquam. Maecenas maximus metus lacus, vel semper urna mattis et. Vestibulum ligula risus, ornare vitae fermentum vitae, sodales sit amet ligula. Aenean libero risus, cursus rhoncus elementum sed, elementum quis enim. Mauris efficitur, ipsum in maximus dictum, mi magna convallis massa, vitae accumsan nisl felis quis sapien. Suspendisse elit metus, venenatis et purus at, cursus aliquam tellus.
        Aliquam aliquam imperdiet maximus. Ut condimentum lectus vitae sagittis dignissim. <br><br> Phasellus auctor, sapien nec imperdiet fringilla, quam augue venenatis tortor, eget venenatis augue nunc in lorem. Curabitur interdum ultricies purus ut euismod. Integer cursus ligula et metus pretium, eget vehicula eros semper. Ut lacinia enim ac leo tristique, et facilisis nibh rhoncus. Aenean vestibulum accumsan lectus, quis maximus nibh tempus sit amet. Nullam vitae fringilla enim. Phasellus semper pellentesque mauris tincidunt finibus. Nullam iaculis aliquam hendrerit. Donec dapibus mollis enim non pellentesque. Vivamus lectus nulla, convallis ut accumsan vitae, tristique sit amet diam. <br> <br>
        Integer placerat dolor vel elit consectetur, ut aliquet mi rutrum. Aenean ut fringilla enim. Proin nulla lorem, lobortis commodo risus vehicula, sagittis scelerisque odio. Praesent vitae elit vehicula, tempus ipsum eget, placerat mi. Integer eleifend elementum pharetra. In sed rhoncus diam. Nullam egestas laoreet venenatis. In lobortis commodo tellus, vitae dignissim odio. Phasellus ac mi et erat luctus dignissim. Nulla malesuada tristique erat, eu ullamcorper nisi. Suspendisse non tincidunt lorem. Donec lobortis gravida posuere. Suspendisse eget purus mauris. Aenean non ante vel urna molestie sagittis ut sit amet sapien. Aliquam ullamcorper eu libero ut malesuada.

        <a href="#" class="btn-show-more" (click)="toggleShowMoreText()" *ngIf="showMoreText">ver menos</a></span></p>
    </div>
  </div>

    <div class="dicussions_section">
      <div class="discussions_header">
        <h3 class="discussions_header_text">Discussões</h3>
      </div>

      <div class="discussions_content_container">
        <h4 class="discussions_content_title">Compartilhe suas ideias ou dúvidas com os autores!</h4>

        <div class="discussions_images">
          <img src="/assets/vector-image-1.png" alt="">
          <img src="/assets/vector-image-2.png" alt="">
          <img src="/assets/vector-image-3.png" alt="">
        </div>

        <span class="discussions_content_text">Sabia que o maior estimulo no desenvolvimento cientifico e cultural é a curiosidade? Deixe seus questionamentos ou sugetões para o autor!</span>
        <hr>
        <button></button>

      </div>
  </div>
</main>
