@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.main{
  border: 1px solid;
  height: 100%;
  width: 100%;
}

.main h2{
  width: 57.54vw;
  height: 3.953vw;
  font-family: Roboto;
  font-weight: 900;
  letter-spacing: 1px;
  color: #ED7839;
  font-size: 1.464vw;
}




