<main class="main">

  <div class="top-side_container">
    <h2 class="Título do trabalho">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h2>
    <div class="top-right_container">
      <div class="buttons_container">
        <button class="download-button">Download</button>
        <button class="favorite-button"><img src="/assets/star-solid.svg" alt="" class="star-solid"></button>
        <button class="doi-button"><img src="/assets/doi.png" alt="" class="doi-solid"></button>
      </div>
    <h3 class="citacao">COMO CITAR ESSE TRABALHO?</h3>
    </div>
  </div>

  <div class="mid-top_container">
  <div class="video_overlay">
    <img [src]="videoPath" alt="video" class="background_video">
    <h1 class="video_top-text">Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de Campinas/SP </h1>
      <div class="video_bottom_container">
        <div class="photo_outline">
        <img [src]="videoImagePath" alt="">
      </div>

    <div class="bottom_container_text">
      <h1>Beatriz Christiane Melo</h1>
      <h3>FCA / Universidade Estadual de Campinas</h3>
    </div>
  </div>
  </div>

  <div class="info-trabalho_container">
    <div class="info-title">
      <h3>Detalhes</h3>
    </div>

    <div class="info-content">
        <div class="top-info">
        <p>Tipo de Apresentação: <span class="topic_detail">Pôster</span></p>
        <p>Eixo temático: <span class="topic_detail">Alimentação e saúde (AS)</span></p>
        <p>palavras-chaves: <span class="topic_detail">Alimentos funcionais, alimentação escolar</span></p>
        </div>

        <div class="mid-info">
        <span class="mid_title">Autores: </span>
        </div>
        <p>Galileo Galilei<span class="superscript">¹</span></p>
        <p>Berta Lange de Morretes<span class="superscript">²</span></p>
        <p>Isaac Newton<span class="superscript">³</span></p>
        <p>Stephen Hawking<span class="superscript">⁴</span></p>

        <div class="bottom-info">
          <p>¹Universidade Estadual de Campinas</p>
          <p>²Universidade de São Paulo</p>
          <p>³Instituto Nacional de Pesquisas Espaciais</p>
          <p>⁴Universidade Federal do Rio de Janeiro</p>
        </div>
    </div>
  </div>
</div>

</main>
