<div class="pending-topic_container">

  <div class="blur-overlay"> 
    <img src="/assets/check-double-solid-gray.svg" alt="checkmark-gray" class="checkmark-icon">
    <h3 class="blur-overlay_text">Aguardando feedback dos autores</h3>
    <a href="#" class="blur-overlay_link">Editar tópico</a>
  </div>
  
<header class="topic-card_header">
  <h3 class="ops-topic-subject">{{ subject }}</h3>
  <span class="question-author">Carlos Henrique Santos</span>
</header>

<body class="topic-card_body">
  <p class="question-text">{{ content }}</p>
</body>

<div class="topic-card_footer">
  <a href="#"><img src="/assets/ellipsis-vertical-solid.svg" alt="" class="three-ellipsis"></a>
  <button class="favorite-button"><img src="/assets/heart-solid-white.svg" alt="heart-icon"></button>
  <a class="likes">0 like</a>
  <a href="#" class="answers">0 resposta</a>
</div>

</div>