.menu_item_container{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 220px;
  height: 30px;
  border-bottom: 2px solid #E7E7E7;

}

.menu_item_container .menu_item_text {
  font-family: Quicksand;
  font-size: 15px;
  line-height: 18.75px;
  font-weight: 500;
  margin-left: 24px;
  text-decoration: none;
  color: #725C5C;
}
